{% extends 'layouts/main.html' %}
{% block title %}Songs{% endblock %}
{% block content %}

<div>
  <h1>Songs</h1>
</div>
<p>All songs listed. Search for songs</p>

<div class="row">
	{% for song in songs %}
		<div class="col col-sm-4">
			<div class="card">
			  <img class="card-img-top" src="http://fakeimg.pl/350x150?text={{ song.title }}" alt="Card image cap">
			  <div class="card-block">
			    <h4 class="card-title">{{ song.artist }}</h4>
			    <p class="card-text">Difficulty: {{ song.difficulty }}</p>
			    <p class="card-text">Released: {{ song.released }}</p>
			    <a href="#" class="btn btn-primary">Go somewhere</a>
			  </div>
			</div>
		</div>
	{% endfor %}
</div>

{% endblock %}