/**
 * Main stylesheet file.
 */

html {
  overflow-y: scroll;
}
a {
  cursor: pointer;
}
::selection {
  background: #555;
  color: #FFF;
}
::-moz-selection {
  background: #555;
  color: #FFF;
}
::-webkit-selection {
  background: #555;
  color: #FFF;
}

.subtitle {
	margin: 10px;
}

/* Card
-------------------------------------------------- */

.card {
	margin: 10px 0;    
	display: block;
  margin-bottom: .75rem;
  background-color: #fff;
  border-radius: .25rem;
  border: 1px solid rgba(0,0,0,.125);
}

.card img {
  height: 180px;
  width: 100%;
  display: block;
}

.card .card-block {
  padding: 1.25rem;	
}

/**
 * Star Rating stylesheet file.
 */
fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
	font-size: 0.8em;
	width: 2.2em;
	text-align: center;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";    \
  border: 1px solid;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 0 2px #cecece;
  /* used colorzilla.com */
  background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top, #f7f7f7 0%, #e5e5e5 50%, #cecece 51%, #f7f7f7 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f7f7f7 0%,#e5e5e5 50%,#cecece 51%,#f7f7f7 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f7f7f7 0%,#e5e5e5 50%,#cecece 51%,#f7f7f7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #b5b5b5;
 	float: right; 
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #ffcc00!important;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #ffcc00!important;  } 